[ccs_config]
tag = ccs_config-ew2.1.000
protocol = git
repo_url = https://github.com/EarthWorksOrg/ccs_config_cesm.git
local_path = ccs_config
required = True

[cam]
tag = cam-ew2.1.002
protocol = git
repo_url = https://github.com/EarthWorksOrg/CAM
local_path = components/cam
externals = Externals_CAM.cfg
required = True

[cice5]
tag = cice5_20220204
protocol = git
repo_url = https://github.com/ESCOMP/CESM_CICE5
local_path = components/cice5
required = True

[cice6]
tag = cesm_cice6_4_1_10
protocol = git
repo_url = https://github.com/ESCOMP/CESM_CICE
local_path = components/cice
externals = Externals.cfg
required = True

[cmeps]
tag = cmeps-ew2.1.000
protocol = git
repo_url = https://github.com/EarthWorksOrg/CMEPS.git
local_path = components/cmeps
required = True

[cdeps]
tag = cdeps1.0.26
protocol = git
repo_url = https://github.com/ESCOMP/CDEPS.git
local_path = components/cdeps
externals = Externals_CDEPS.cfg
required = True

[cpl7]
tag = cpl77.0.7
protocol = git
repo_url = https://github.com/ESCOMP/CESM_CPL7andDataComps
local_path = components/cpl7
required = True

[share]
tag = share1.0.18
protocol = git
repo_url = https://github.com/ESCOMP/CESM_share
local_path = share
required = True

[mct]
tag = MCT_2.11.0
protocol = git
repo_url = https://github.com/MCSclimate/MCT
local_path = libraries/mct
required = True

[parallelio]
tag = pio2_6_2
protocol = git
repo_url = https://github.com/NCAR/ParallelIO
local_path = libraries/parallelio
required = True

[cime]
tag = cime-ew2.1.000
protocol = git
repo_url = https://github.com/EarthWorksOrg/cime
local_path = cime
required = True

[cism]
tag = cismwrap_2_1_96
protocol = git
repo_url = https://github.com/ESCOMP/CISM-wrapper
local_path = components/cism
externals = Externals_CISM.cfg
required = True

[clm]
tag = release-ctsm-ew2.1
protocol = git
repo_url = https://github.com/EarthWorksOrg/CTSM
local_path = components/clm
externals = Externals_CLM.cfg
required = True

[mpas-ocean]
#tag = mpaso-ew2.1.000
branch = framework-ext-refs
protocol = git
repo_url = https://github.com/EarthWorksOrg/mpas-ocean.git
local_path = components/mpas-ocean
required = True

[mpas-seaice]
#tag = mpaso-ew2.1.001
branch = framework-ext-refs
protocol = git
repo_url = https://github.com/EarthWorksOrg/mpas-seaice.git
local_path = components/mpas-seaice
required = True

[mpas-framework]
#tag = mpaso-ew2.1.001
branch = framework-ext-refs
protocol = git
repo_url = https://github.com/EarthWorksOrg/mpas-framework.git
local_path = components/mpas-framework
required = True

[mosart]
tag = mosart1_0_48
protocol = git
repo_url = https://github.com/ESCOMP/MOSART
local_path = components/mosart
required = True

[pycect]
tag = 3.2.2
protocol = git
repo_url = https://github.com/NCAR/PyCECT
local_path = tools/statistical_ensemble_test/pyCECT
required = False

[ewms-diags]
tag = diags-ew1.0.000
protocol = git
repo_url = https://github.com/EarthWorksOrg/EarthWorks_diags
local_path = tools/ewms-diags
required = True

[externals_description]
schema_version = 1.0.01
